<!--<section class="py-5">-->
<!--  <gif-list [gifInfo]="gifService.trendingGifs()"/>-->
<!--</section>-->




<div class="h-screen overflow-y-scroll grid grid-cols-2 md:grid-cols-4 gap-4" #ContainerGifGroup (scroll)="handleScroll($event)">
  @for (group of gifService.trendingGifGroup(); track $index){
    <div class="grid gap-4">
      @for (gif of group; track gif.id) {
        <div>
          <img class="h-auto max-w-full rounded-lg" [src]="gif.url" [alt]="gif.title">
        </div>
      }
    </div>
  }
</div>

